<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 도서 정보 처리 SQL -->
<mapper namespace="book.dao.BookMapper">

<insert id="insertBook" parameterType="VO">
	insert into book
	(TITLE, AUTHOR, PUBLISHER, TYPE, PRICE, INPUTDATE)
	values
	(#{title},#{author},#{publisher},#{type},#{price},default)
</insert>

<select id="listAll" resultType="VO">
	select *
	from book
	order by bnum asc
</select>

<select id="getBook" parameterType="int" resultType="VO">
	select *
	from book
	where bnum = #{value}
</select>

<delete id="deleteBook" parameterType="int">
	delete from book
	where bnum = #{value}
</delete>
 
<update id="updateBook" parameterType="VO">
	update book
	set 
		title = #{title},
		author = #{author},
		publisher = #{publisher},
		price = #{price}
	where
		bnum = #{bnum}
</update>
 <select id="searchBook" parameterType="map" resultType="VO">
 	select *
 	from book
 	where
 		<if test="choice==1">
 			upper(title) like '%'||upper(#{text})||'%'
 		</if>
 		<if test="choice==2">
 			upper(author) like '%'||upper(#{text})||'%'
 		</if>
 		<if test="choice==3">
 			upper(publisher) like '%'||upper(#{text})||'%'
 		</if>
 	order by bnum asc 	
 </select>
</mapper>
