<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dao.Mapper">

	<select id="checkPro" parameterType="String" resultType="Producer">
		select * from Producer where producer_id = #{value}
	</select>

	<select id="checkCon" parameterType="String" resultType="Consumer">
		select * from Consumer where consumer_id = #{value}
	</select>

	<insert id="signUp_producer" parameterType="map">
		insert into Producer
		(PRODUCER_ID, PRODUCER_NAME, PROPERTY)
		values
		(#{id} ,#{name} ,Default )
	</insert>

	<insert id="signUp_consumer" parameterType="map">
		insert into Consumer
		(CONSUMER_ID, CONSUMER_NAME, PROPERTY)
		values
		(#{id} ,#{name} ,Default )
	</insert>

	<select id="listPro" resultType="Producer">
		select * from Producer
	</select>

	<select id="listCon" resultType="Consumer">
		select * from Consumer
	</select>
	
	<insert id="satuee" parameterType="Movie">
		insert into Movie
		(MOVIE_NAME, SEKI, PRICE, PRODUCER_ID)
		Values
		(#{Movie_name}
		<if test="seki!=null">
			, #{seki}
		</if>
		<if test="seki==null">
			, Default
		</if>, #{price}, #{Producer_id})
	</insert>
	
	<select id="eigaListPro" parameterType="String" resultType="Movie">
		select * from movie where producer_id = #{value}
	</select>
	
	<select id="eigaListCon" parameterType="String" resultType="Movie">
		select * 
		from movie
		where movie_num in (
		select movie_num
		from consumer join bridge using(consumer_id)
		where consumer_id=#{value}
		)
	</select>
	
	<select id="eigaList"  resultType="Movie">
		select * from movie 
	</select>
	
	<select id="selectEiga" parameterType="int" resultType="Movie">
		select * from movie where movie_num = #{value}
	</select>
	
	<update id="updateCon" parameterType="Consumer">
		update  Consumer
		set 
			Consumer_id=#{Consumer_id},
			Consumer_name=#{Consumer_name},
			Property = #{Property}
		where
			Consumer_id=#{Consumer_id}
	</update>
	
	<update id="updateMovie" parameterType="Movie">
		update Movie
		set
			Movie_name=#{Movie_name},
			seki = #{seki},
			price = #{price},
			Producer_id = #{Producer_id}
		where
			Movie_num = #{Movie_num}
	</update>
	
	<insert id="insertBridge" parameterType="map">
		insert into Bridge
		(MOVIE_NUM, CONSUMER_ID)
		values
		(#{Movie_num}, #{Consumer_id})
	</insert>
	
	<insert id="reply" parameterType="Reply">
		insert into reply
		(CONTENTS, MOVIE_NUM, CONSUMER_ID)
		values
		(#{Contents}, #{Movie_num}, #{Consumer_id})
	</insert>
	
	<select id="selectReply"  parameterType="String"  resultType="Reply">
		select * 	from reply where movie_num in 
		(select movie_num from movie where producer_id in (#{value}))
	</select>
	
	<insert id="rereply" parameterType="Reply">
		insert into reply
		(CONTENTS, MOVIE_NUM, CONSUMER_ID, REREPLY_NUM)
		values
		(#{Contents}, #{Movie_num}, #{Consumer_id}, #{Rereply_num})
	</insert>
</mapper>